.center-container {
  display: flex;
  justify-content: center;
}

.centered-content {
  text-align: center; 
}

.form-padding {
    padding-top: 5rem;
}

.form-title {
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  text-align: center;
}

.form-error {
  display: flex;
  justify-content: center;
}

.table-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6rem;
}

.table {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
}
